*{
  font-family: time new roman;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
h1{
  font-size: 30px;
}
img{
  margin: 5px;
  width: 100px;
  height: 40px;
}
.frame{
  background-color:rgb(214, 222, 222) ;
  width: 350px;
  float: right;
  padding: 20px;
  margin: 20px;
}
label {
  display:block;
}
input ,select{
  height: 20px;
  border: 1px solid #b7be3c;
}
button{
  border: 1px solid;
  background-color: rgb(28, 167, 186);
  border-radius: 5px;
  width: 100px;
  height: 25px;
  border-width: 0px;
  float: right;
  margin: 10px;
}
input:hover {
  border:1px solid #696f69;
}
input:focus{
  border:1px solid blue;
}
.header{
  height: 50px;
  background-color:#e3e3e3;
  border-bottom: 1px solid #bab8b8 ;
}
